:root {
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065f46;
  --green-900: #064e3b;
  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --yellow-800: #92400e;
  --yellow-900: #78350f;
  --white-100: #ffffff;
  --black-100: #000000;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --fontSize-base: 1rem;
  --fontSize-5xl: 3rem;
  --fontSize-xs: 0.75rem;
  --fontSize-sm: 0.875rem;
  --fontSize-lg: 1.125rem;
  --fontSize-xl: 1.25rem;
  --fontSize-2xl: 1.5rem;
  --fontSize-3xl: 1.875rem;
  --fontSize-4xl: 2.25rem;
  --fontSize-6xl: 3.75rem;
}
.text-green-100 {
  color: var(--green-100);
}
.text-green-200 {
  color: var(--green-200);
}
.text-green-300 {
  color: var(--green-300);
}
.text-green-400 {
  color: var(--green-400);
}
.text-green-500 {
  color: var(--green-500);
}
.text-green-600 {
  color: var(--green-600);
}
.text-green-700 {
  color: var(--green-700);
}
.text-green-800 {
  color: var(--green-800);
}
.text-green-900 {
  color: var(--green-900);
}
.text-yellow-100 {
  color: var(--yellow-100);
}
.text-yellow-200 {
  color: var(--yellow-200);
}
.text-yellow-300 {
  color: var(--yellow-300);
}
.text-yellow-400 {
  color: var(--yellow-400);
}
.text-yellow-500 {
  color: var(--yellow-500);
}
.text-yellow-600 {
  color: var(--yellow-600);
}
.text-yellow-700 {
  color: var(--yellow-700);
}
.text-yellow-800 {
  color: var(--yellow-800);
}
.text-yellow-900 {
  color: var(--yellow-900);
}
.text-white-100 {
  color: var(--white-100);
}
.text-black-100 {
  color: var(--black-100);
}
.text-gray-100 {
  color: var(--gray-100);
}
.text-gray-200 {
  color: var(--gray-200);
}
.text-gray-300 {
  color: var(--gray-300);
}
.text-gray-400 {
  color: var(--gray-400);
}
.text-gray-500 {
  color: var(--gray-500);
}
.text-gray-600 {
  color: var(--gray-600);
}
.text-gray-700 {
  color: var(--gray-700);
}
.text-gray-800 {
  color: var(--gray-800);
}
.text-gray-900 {
  color: var(--gray-900);
}
.text-slate-100 {
  color: var(--slate-100);
}
.text-slate-200 {
  color: var(--slate-200);
}
.text-slate-300 {
  color: var(--slate-300);
}
.text-slate-400 {
  color: var(--slate-400);
}
.text-slate-500 {
  color: var(--slate-500);
}
.text-slate-600 {
  color: var(--slate-600);
}
.text-slate-700 {
  color: var(--slate-700);
}
.text-slate-800 {
  color: var(--slate-800);
}
.text-slate-900 {
  color: var(--slate-900);
}
.text-blue-100 {
  color: var(--blue-100);
}
.text-blue-200 {
  color: var(--blue-200);
}
.text-blue-300 {
  color: var(--blue-300);
}
.text-blue-400 {
  color: var(--blue-400);
}
.text-blue-500 {
  color: var(--blue-500);
}
.text-blue-600 {
  color: var(--blue-600);
}
.text-blue-700 {
  color: var(--blue-700);
}
.text-blue-800 {
  color: var(--blue-800);
}
.text-blue-900 {
  color: var(--blue-900);
}
.text-red-100 {
  color: var(--red-100);
}
.text-red-200 {
  color: var(--red-200);
}
.text-red-300 {
  color: var(--red-300);
}
.text-red-400 {
  color: var(--red-400);
}
.text-red-500 {
  color: var(--red-500);
}
.text-red-600 {
  color: var(--red-600);
}
.text-red-700 {
  color: var(--red-700);
}
.text-red-800 {
  color: var(--red-800);
}
.text-red-900 {
  color: var(--red-900);
}
